@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100%;   
    display: grid;
    grid-template: 175px auto / 1fr 4fr;
}

.header {
    background-color: whitesmoke;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    padding: 15px 50px;
}

.sidebar {
    background-color: #BD61D7;
    grid-row: 1 / 3;
    padding: 10px;
    display: grid;
    grid-template-rows: 50px repeat(2, min-content);
    color: whitesmoke;
}

.main {
    background-color: lightgray;
    grid-row: 2 / 3;
}

.corner-logo {
    display: flex;
    align-items: center;
}

.wizard-hat {
    height: 100%;
    width: auto;
    filter: invert(100%) sepia(2%) saturate(151%) hue-rotate(272deg) brightness(118%) contrast(92%);
}

.logo-text {
    font-size: 1.7rem;
    font-weight: 700;
    padding-left: 5px; 
}

.options,
.settings {
    display: grid;
    gap: 15px
}

ul li {
    font-size: 1.1rem;
    font-weight: 500;
    list-style-type: none;
}

.search-bar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    height: 25px;
    gap: 10px;
    margin-top: 12.5px;
}

.magnify {
    height: 80%;
    width: auto;
}

input {
    background-color: lightgray;
    border-radius: 15px;
    border: none;
    padding: 5px 5px;
    width: 95%;
}

input:focus {
    outline: none;
}

form {
    width: 100%;
    height: min-content;
}

.buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.buttons button {
    background-color: #BD61D7;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    height: 40px;
    width: 95px;
    font-size: 1.1rem;
}

.handle-section {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 75px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 700;
}

.large-profile-pic {
    height: 100%;
    width: auto;
    border-radius: 100%;
}

.greeting-text {
    margin-bottom: 5px;
}

.handle {
    font-size: 1.4rem;
}

.name-section {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 700;
    font-size: 1.1rem;
    gap: 30px;
}

.bell {
    height: 50%;
    width: auto;
}

.small-profile-pic {
    height: 100%;
    width: auto;
    border-radius: 100%;
}

.main {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    padding: 25px 15px 10px 40px;
}

.projects {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-cards {
    background-color: whitesmoke;
    padding: 35px 10px 40px 30px;
    border-radius: 10px;
    box-shadow: inset 10px 0 #BD61D7;
}

.project-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.project-summary {
    font-size: 1.1rem;
    font-weight: 300;
}

.announcements {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: 0 20px;
}

.trending {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.announcements-card {
    background-color: whitesmoke;
    padding: 35px 40px 20px 30px;
    border-radius: 10px;
}

.announcements-header {
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.announce-title {
    font-weight: 700;
    margin-bottom: 5px;
}

.announce-summary {
    margin-top: 0;
}

hr {
    color: lightgray;
}